.item {
  border-bottom: 1px solid #d1d5db; 
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #374151; 
  white-space: pre-wrap;
  word-break: break-word;
}

.item:last-child {
  border-bottom: none;
}